<div class="image-header widest-element" style="background-image: url(<%= asset_path 'location/header.png' %>); background-position: center;">
  <div class="image-header-text">
    <div class="title"> Как добраться? </div>
    Главная | Как добраться
  </div>
</div>
<div class="iframe-map-container">
  <iframe src="https://yandex.ru/map-widget/v1/-/CBBDJQds0D" frameborder="0" allowfullscreen="true"></iframe>
</div>
<%= render partial: 'layouts/footer'%>
