<div">
  <div class="row image-header" style="background-image: url(<%= asset_path 'prices/header.jpg' %>)"> </div>
  <div class="row flex-column text-box">
    <h4> Laundry “Lux”  is laundry of cloth or  bed linens </h4>
    <div style='margin-bottom: -39px;'>
      <p> Price: </p>
    </div>
    <div style='margin-left: 45px;'>
      up to 5 kg 400 rubles<br>
      up to 6 kg 450 rubles<br>
      up to 7 kg 500 rubles
    </div>
    <br>
    <p> Included: laundry, professional washing powder, drying, bag. </p>
    <br />
    <h4> Laundry of blanket (or plaid) for 1 item: 550 rubles </h4>
    <p> Included: laundry, professional washing powder, drying, bag. </p>
    <br />
    <h4> Laundry of down jacket (or winter jacket): 550 rubles </h4>
    <p> Included: laundry, professional liquid laundry detergent, drying, bag. </p>
    <br />
    <h4> Laundry and ironing of bed linens (or towels) 70 rubles for 1 item </h4>
    <p> Included: laundry, professional washing powder, drying, ironing on professional equipment, bag. </p>
    <p>
      We arrange pick up and delivery service for customers in following districts: Primorsky, Vyborsky, Kalinynsky, Vacileostrovsky, Petrogradsky.
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A354c096d817d7d25a68ec3ed2fe76752e03e5e571f35ef258f9bbb3a03252fd4&amp;source=constructor"
      width="460" height="459" frameborder="0"></iframe>
      <br>
    </p>
      Pick up and delivery cost: 500 rubles.
    <p>
    </p>
      If the order is over 3000 rubles, pick up and delivery is free.
    <p>
      <br>
      <b> Our collection laundry point: </b>
      <br>
      Metro station: Devyatkino
      <br>
      Murino, Petrovskiy bulvar, 7, in the courtyard
      <br>
      <iframe src="https://yandex.ru/map-widget/v1/-/CBBDJQds0D" width="700" height="450" frameborder="0" allowfullscreen="true"></iframe>
    </p>
    <p> Open: from 14-00 to 20-00, output - Sunday </p>

    <p>
    <div class='contacts'>
      Contacts:
      <br>
      <a href="mailto:Prachka-laundry@yandex.ru ">prachka-laundry@yandex.ru</a>
      <br>
      <div class='telephone' style='display: inline-block; float:left'> Tel: <a href="tel:8-931-390-9123">+7 931 3-909-123</a></div>
      <br>
      <div style='margin-top: 10px;'>
        <div>
          <a href="https://vk.com/prachkaLaundry">
            <div class="messenger first-logo" style="background-image: url(<%= asset_path 'vk-logo.png' %>); style='display: inline-block'"></div>
          </a>
        </div>
        <div>
          <a href="  ">
            <div class="messenger" style="background-image: url(<%= asset_path 'telegram-logo.png' %>); style='display: inline-block'"></div>
          </a>
        </div>
        <div>
          <a href="https://api.whatsapp.com/send?phone=79313909123">
            <div class="messenger" style="background-image: url(<%= asset_path 'whatsapp-logo.png' %>); style='display:inline-block''"></div>
          </a>
        </div>
      </div>
    </div>
    </p>
    </p>
  </div>
</div>
