<div class="modal-container first-service">
  <div class="modal-window first-service-window" style="height: 995px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" style="height: 999px;" src="<%= asset_path 'for_individuals/foto_1_modal.png'%>" alt="">
      <div class="service-modal-icon-background">
        <img style="height: 65px;" src="<%= asset_path 'for_individuals/washer.svg'%>">
      </div>
      <div class="service-modal-content">
        <div class="service-modal-title"> Стирка и сушка белья</div>
        <div class="service-modal-body">
          Стоимость услуги указана за любой вес белья до 5кг. <br>
          При превышении 5кг. стоимость берется из расчета<br>
          80 рублей за кг.<br>
          <br>
          Принимаются любые текстильные вещи, включая<br>
          постельное белье и одежду. Стирка осуществляется в<br>
          соотвествии с видом ткани.<br>
          <br>
          Наши специалисты бережно постирают Ваши вещи на<br>
          оборудовании «ASKO» с использованием <br>
          профессиональных моющих средств. В цену входит<br>
          стирка, сушка и пакет.
        </div>
        <div class="service-modal-price">
          400 руб.
        </div>
        <div style="font-family: 'Roboto'; color:  #302f2f; font-size: 0.998em; font-weight: 500; margin: 30px 0px 0px 39px;">
          Средний вес постельного белья и одежды(в граммах):
        </div>
        <div class="service-modal-additional">
          <div class="service-modal-additional-left-column">
            <table>
              <tr>
                <th colspan="2">Постельное белье (хлопок)</th>
              </tr>
              <tr>
                <td>Покрывало</td><td>800</td>
              </tr>
              <tr>
                <td>Простыня</td><td>600</td>
              </tr>
              <tr>
                <td>Наволочка</td><td>200</td>
              </tr>
              <tr>
                <td>Полный комплект</td><td>1600</td>
              </tr>
            </table>


            <table>
              <tr>
                <th colspan="2">Мужская одежда</th>
              </tr>
              <tr>
                <td>Свитер</td><td>500</td>
              </tr>
              <tr>
                <td>Рубашка, хлопок</td><td>250</td>
              </tr>
              <tr>
                <td>Рубашка, <br> смесовые ткани</td><td>200</td>
              </tr>
              <tr>
                <td>Брюки</td><td>400</td>
              </tr>
              <tr>
                <td>Джинсы</td><td>600</td>
              </tr>
              <tr>
                <td>Спецодежда</td><td>600</td>
              </tr>
              <tr>
                <td>Ветровка</td><td>800</td>
              </tr>
              <tr>
                <td>Носки</td><td>50</td>
              </tr>
              <tr>
                <td>Нижнее белье</td><td>50-150</td>
              </tr>
              <tr>
                <td>Спортивный костюм</td><td>700</td>
              </tr>
              <tr>
                <td>Шапка</td><td>300</td>
              </tr>
            </table>
          </div>
          <div class="service-modal-additional-right-column">
            <table>
              <tr>
                <th colspan="2">Женская одежда</th>
              </tr>
              <tr>
                <td>Блузка</td><td>100</td>
              </tr>
              <tr>
                <td>Джинсы</td><td>500</td>
              </tr>
              <tr>
                <td>Свитер</td><td>300-400</td>
              </tr>
              <tr>
                <td>Юбка</td><td>300</td>
              </tr>
              <tr>
                <td>Платье</td><td>400-500</td>
              </tr>
              <tr>
                <td>Пижама</td><td>450</td>
              </tr>
              <tr>
                <td>Нижнее белье</td><td>50-150</td>
              </tr>
              <tr>
                <td>Носовой платок</td><td>15</td>
              </tr>
              <tr>
                <td>Спортивный костюм</td><td>600</td>
              </tr>
            </table>

            <table>
              <tr>
                <th colspan="2">Другое</th>
              </tr>
              <tr>
                <td>Полотенце кухонное</td><td>120</td>
              </tr>
              <tr>
                <td>Полотенце маленькое</td><td>120</td>
              </tr>
              <tr>
                <td>Полотенце среднее</td><td>300</td>
              </tr>
              <tr>
                <td>Полотенце большое</td><td>500</td>
              </tr>
              <tr>
                <td>Полотенце банное <br> (махровое)</td><td>1000</td>
              </tr>
              <tr>
                <td>Халат банный <br> (махровый)</td><td>1200</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
