<div class="modal-container fourth-service">
  <div class="modal-window fourth-service-window" style="height: 454px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'for_individuals/foto_4_modal.png'%>" alt="">
      <div class="service-modal-icon-background">
        <img style="height: 65px;" src="<%= asset_path 'for_individuals/linen.svg'%>">
      </div>
      <div class="service-modal-content">
        <div class="service-modal-title">
          Стирка, сушка и глажка белья
        </div>
        <div class="service-modal-body">
          Принимается только прямое белье. <br>
          <br>
          Полотенца до размера 40х60, наволочки – стоимость <br>
          40 рублей. <br>
          Пододеяльники, простыни, полотенца размером больше <br>
          40х60 – 70 рублей. <br>
          <br>
          <div style="font-weight:500"> Минимальный заказ 400 рублей. </div>
          <br>
          Наши специалисты бережно постирают и выгладят Ваши <br>
          вещи на оборудовании «ASKO» с использованием <br>
          профессиональных моющих средств. Глажка <br>
          осуществляется на станках «GMP».В цену входит <br>
          стирка, глажка и пакет.
        </div>
        <div class="service-modal-price">
          от 40 руб.
        </div>
      </div>
    </div>
  </div>
</div>
