<div class="modal-container second-service">
  <div class="modal-window second-service-window" style="height: 505px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'for_individuals/foto_2_modal.png'%>" alt="">
      <div class="service-modal-icon-background">
        <img style="height: 65px;" src="<%= asset_path 'for_individuals/jacket.svg'%>">
      </div>
      <div class="service-modal-content">
        <div class="service-modal-title"> Стирка и сушка пуховика</div>
        <div class="service-modal-body">
          Стирка пуховика осуществляется в щадящем режиме <br>
          жидкими моющими средствами. Предварительно места <br>
          загрязнений (рукава, воротники) обрабатываются <br>
          вручную.<br>
          <br>
          После стирки, для полного удаления моющих средств, <br>
          проводиться дополнительное полоскание.<br>
          <br>
          Сушка осуществляется в машинах при деликатном режиме, <br>
          что не повреждает наполнитель. Пух при этом <br>
          расправляется, не давая комков и подтеков на ткани. <br>
          <br>
          Стоимость не зависит от размера и длины пуховика. <br>

          Наши специалисты бережно постирают Ваши вещи <br>
          на оборудовании «ASKO» с использованием <br>
          профессиональных моющих средств. В цену входит <br>
          стирка, сушка и пакет.
        </div>
        <div class="service-modal-price">
          550 руб.
        </div>
      </div>
    </div>
  </div>
</div>
