<div class="modal-container third-service">
  <div class="modal-window third-service-window" style="height: 436px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'for_individuals/foto_3_modal.png'%>" alt="">
      <div class="service-modal-icon-background">
        <img style="height: 65px;" src="<%= asset_path 'for_individuals/towel.svg'%>">
      </div>
      <div class="service-modal-content">
        <div class="service-modal-title">
          Стирка и сушка одеял,<br>
          пледов, покрывал
        </div>
        <div class="service-modal-body">
          Стирка осуществляется жидкими моющими средствами. <br>
          <br>
          После стирки, для полного удаления моющих средств, <br>
          проводиться дополнительное полоскание.<br>
          <br>
          Сушка осуществляется в машинах при деликатном режиме, <br>
          что не повреждает наполнитель. Пух в одеялах при этом <br>
          расправляется, не давая комков и подтеков на ткани.<br>
          <br>
          Наши специалисты бережно постирают Ваши вещи на <br>
          оборудовании «ASKO» с использованием <br>
          профессиональных моющих средств. В цену <br>
          входит стирка, сушка и пакет.
        </div>
        <div class="service-modal-price">
          550 руб.
        </div>
      </div>
    </div>
  </div>
</div>
